body {
	background-image: url(../bg/1.jpg);
}

html {
	height: 100%;
}

body {
	margin: 0px;
	background-color: #326696;
	overflow: hidden;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	font-weight: bold;
	text-align:center;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100%;
	min-height: 480px;
	cursor: drag;
	cursor: -webkit-grab;

}


.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bolder;
}
.pull-right {
	float: right;
}


.no-webgl .preview {
	/*display: none !important;*/
}


.no-webgl-only {
	display: none;
}
.no-webgl .no-webgl-only {
	display: block;
}

.message {
	border-top: 1px dashed;
	color: #000;
	padding: 5px;
	opacity: 0.5;
	background: rgba(0,0,0,0.1);
	position: fixed;
	z-index: 200;
	font-size: 11px;
	left: 0;
	right: 0;
	bottom: 0;
}
.message a {
	color: #000;
	opacity: 0.7;
}

canvas {
	margin-bottom: -5px;
}

a {
	color:#0078ff;
}

.no-cursor {
	cursor: none;
}

.logo {
	/* background: url(../img/logo.png) no-repeat center 30%; */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 35%;
	opacity: 0.8;
	z-index: 999;
	-webkit-transition: 3s opacity;
	-moz-transition: 3s opacity;
	-ms-transition: 3s opacity;
	-o-transition: 3s opacity;
	transition: 3s opacity;

}

.socials, .preview {
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 30px;
	opacity: 0;
	z-index: 9999;
}

.preview {
	bottom: auto;
	top: 0;
	opacity: 0.5;
	z-index: 9999;
}
.preview:hover {
	opacity: 1;
}

.preview > * {
	display: inline-block;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
}

.preview .next {
	float: right;
}
.preview .prev {
	float: left;
}

.socials {
	opacity: 0.6;
}
.socials:hover {
	opacity: 1;
}

.no-webgl .socials, .onbottom .socials {
	opacity: 1;
}

.onbottom:not(.no-webgl) .logo {
	opacity: 0.4;
}

.social {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 10px;
	display: inline-block;
	background: #fff;
	box-shadow: inset 0 0 15px #ccc;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: #777;
}


.social:hover {
	box-shadow: inset 0 0 15px #999;
	color: #444;
}

.transit {
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

.transit-long {
	-webkit-transition: 2.5s all ease;
	-moz-transition: 2.5s all ease;
	-ms-transition: 2.5s all ease;
	-o-transition: 2.5s all ease;
	transition: 2.5s all ease;
}
